**/.git
**/.gitignore
**/.gitattributes

**/.vs
**/.vscode
**/.idea

**/bin
**/obj
**/out
**/publish

**/*.md
!README.md

**/.env
**/.env.*
**/appsettings.Development.json
**/appsettings.*.json
!appsettings.json

**/Dockerfile*
**/docker-compose*
**/.dockerignore

**/.editorconfig
**/*.user
**/*.suo
**/*.cache
**/*.log
**/*.tmp

**/node_modules
**/packages
**/.nuget

**/*.DotSettings
**/*.DotSettings.user

**/TestResults
**/*.trx
**/coverage

**/.DS_Store
**/Thumbs.db
