<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <!-- Improve package restore performance -->
        <add key="maxHttpRequestsPerSource" value="16" />
    <add key="http_proxy" value="" />
   
 <!-- Reduce memory usage during restore -->
        <add key="dependencyVersion" value="Highest" />
    </config>
    
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
 </packageSources>
    
    <packageSourceMapping>
        <packageSource key="nuget.org">
   <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
