<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <MaxCpuCount>0</MaxCpuCount>
        <ResultsDirectory>.\TestResults</ResultsDirectory>
        <TargetFramework>net9.0</TargetFramework>
    </RunConfiguration>

    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage">
                <Configuration>
                    <Format>cobertura,opencover</Format>
                    <ExcludeByFile>**/Migrations/**,**/obj/**,**/bin/**</ExcludeByFile>
                    <ExcludeByAttribute>GeneratedCode,ExcludeFromCodeCoverage,Obsolete</ExcludeByAttribute>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>

    <NUnit>
        <NumberOfTestWorkers>-1</NumberOfTestWorkers>
        <DefaultTimeout>60000</DefaultTimeout>
        <ShadowCopyFiles>false</ShadowCopyFiles>
    </NUnit>
</RunSettings>
